<!DOCTYPE HTML>
<!--
  Read Only by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<% var name = 'patrol'; %>
<html>
  <head>
    <title><%= name %> example | boids.js</title>
    <%- include('./templates/_head') %>
  </head>
  <body>
    <%- include('./templates/_ribon') %>
    <div id="wrapper">
      <section id="header" class="skel-layers-fixed">
        <%- include('./templates/_header') %>
        <%- include('./templates/_nav', { active: name }) %>
        <%- include('./templates/_footer') %>
      </section>
      <div id="main">
      </div>
    </div>
    <%- include('./templates/_scripts') %>
    <script src="scripts/<%= name %>.js"></script>
  </body>
</html>
